:root {
    --primary-clr: dodgerblue;
    --secondary-clr: white;
    --tertiary-clr: lightgray;

    --text-color-bright: white;
    --text-color-primary: black;
    --text-color-secondary: gainsboro;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
    --- Layout ---
*/

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#container > * {
    border: 1px solid dodgerblue;
}
#navbar {
    color: var(--text-color-bright);
    background-color: var(--primary-clr);
}
#main {
    display: grid;
    grid-template-rows: 1fr 2fr;
}
#main > * {
    border: 1px solid salmon;
}